#include <behaviors.dtsi>

//#include "zmk-helpers/helper.h"
//#include "zmk-helpers/key-labels/36.h"

#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// HRM combo hack - workaround for lack of tap-only combos (ZMK issue #544)
//#define ZMK_COMBO_8(NAME, TAP, KEYPOS, LAYERS, COMBO_TERM, COMBO_IDLE, HOLD, SIDE) \
//    MAKE_HRM(hm_combo_ ## NAME, &kp, TAP, SIDE THUMBS) \
//    ZMK_COMBO_6(NAME, &hm_combo_ ## NAME HOLD 0, KEYPOS, LAYERS, COMBO_TERM, COMBO_IDLE)

/* Combos, leader key sequences, mouse emulation */

//#include "combos.dtsi"  // must be sources after HRM-combo hack

#define DEFAULT 0

/ {
  chosen {
    zmk,matrix_transform = &five_column_transform;
  };
};


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                  bindings = <
// ╭──────────────────────────────────────────────────────╮   ╭──────────────────────────────────────────────────────╮
// │    Q     │    W     │    F     │    P     │    B     │   │    J     │    L     │    U     │    Y     │    ;:    │
    &kp Q      &kp W      &kp F      &kp P      &kp B          &kp J      &kp L      &kp U      &kp Y      &kp SEMI
// ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
// │    A     │    R     │    S     │    T     │    G     │   │    M     │    N     │    E     │    I     │    O     │
    &kp A      &kp R      &kp S      &kp T      &kp G          &kp M      &kp N      &kp E      &kp I      &kp O
// ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
// │    X     │    C     │    D     │    V     │    Z     │   │    K     │    H     │   ,<     │   .>     │   /?     │
    &kp X      &kp C      &kp D      &kp V      &kp Z          &kp K      &kp H      &kp COMMA  &kp PERIOD &kp QMARK
// ╰──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────╯
                          &kp LGUI   &kp LALT   &kp SPACE      &kp BSPC   &kp DEL    &kp RET
//                       ╰────────────────────────────────╯   ╰────────────────────────────────╯
      >;
    };
  };
};
